In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import sklearn as sk

In [2]:
import pandas as pd


class Problem:
    df = pd.DataFrame(
        data=[
            {"state": "Arizona", "county": "Maricopa", "cases": 349852},
            {"state": "Arizona", "county": "Mohave", "cases": 13938},
            {"state": "Arizona", "county": "Navajo", "cases": 11991},
            {"state": "Arizona", "county": "Pima", "cases": 75584},
            {"state": "California", "county": "Los Angeles", "cases": 813022},
            {"state": "California", "county": "Orange", "cases": 172458},
            {"state": "California", "county": "Sacramento", "cases": 70164},
            {"state": "California", "county": "San_Francisco", "cases": 24753},
            {"state": "Nevada", "county": "Churchill", "cases": 1426},
            {"state": "Nevada", "county": "Clark", "cases": 176731},
            {"state": "Nevada", "county": "Douglas", "cases": 2047},
            {"state": "Nevada", "county": "Washoe", "cases": 36490},
            {"state": "Oregon", "county": "Clackamas", "cases": 10545},
            {"state": "Oregon", "county": "Lane", "cases": 7287},
            {"state": "Oregon", "county": "Marion", "cases": 14660},
            {"state": "Oregon", "county": "Multnomah", "cases": 26180},
        ]
    )

    def solve(self, state: str) -> int:
        """Solve the question.
        Parameters
        ----------
        state: str
            The state for which to pull the maximum

        Returns
        -------
        int
            The higest number of cases among all counties in given state
        """
        return None


print(Problem().solve("Nevada"))

None

In [20]:
Problem.df[Problem.df.state == 'Nevada'].sort_values('cases', ascending=False).iloc[0].cases

176731

In [18]:
Problem.df

         state         county   cases
0      Arizona       Maricopa  349852
1      Arizona         Mohave   13938
2      Arizona         Navajo   11991
3      Arizona           Pima   75584
4   California    Los Angeles  813022
5   California         Orange  172458
6   California     Sacramento   70164
7   California  San_Francisco   24753
8       Nevada      Churchill    1426
9       Nevada          Clark  176731
10      Nevada        Douglas    2047
11      Nevada         Washoe   36490
12      Oregon      Clackamas   10545
13      Oregon           Lane    7287
14      Oregon         Marion   14660
15      Oregon      Multnomah   26180